<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classifica | Lan Party</title>
    <link rel="stylesheet" href="./classifica-style.css">
</head>
<body>
    <h1>Classifica</h1>
    <div class="podio">
        <div id="secondo" class="colonna" title="x punti"><span class="label">1A</span></div>
        <div id="primo" class="colonna"   title="y punti"><span class="label">2A</span></div>
        <div id="terzo" class="colonna"   title="z punti"><span class="label">3A</span></div>
    </div>

</body>
</html>